<h2>Edit this lesson:</h2>

<% if @lesson.errors.any? %>
  <div class="alert alert-warning" role="alert">
  <h5>There was an error with your submission.</h5>
    <% @lesson.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </div>
<% end %>

<form action="/lessons/<%= @lesson.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="lesson_name">Name</label>
  <input id="lesson_name" name="lesson[name]" type="text" value="<%= @lesson.name %>">
  <label for="lesson_description">Description</label>
  <input id="lesson_description" name="lesson[description]" type="text" value = "<%= @lesson.description %>">
  <label for="lesson_number">Lesson number</label>
  <input id="lesson_number" name="lesson[number]" type="number" value="<%= @lesson.number %>">
  <button class='btn btn-primary'>Update Lesson</button>
</form>
