<div class = "container-fluid">
  <h1><%= @lesson.name %></h1>


  <div class = "row">
    <h3>Lesson Directions</h3>
    <p><%= @lesson.name %></p>
    <p><%= @lesson.description %>
  </div>

  <a href='/lessons/<%= @lesson.id %>/edit' class='btn btn-primary'>Edit</a>


  <div id="footer" class = 'navbar-fixed-bottom'>
      <div class = 'row col-xs-sm-12'>
      <% if @lesson.prev != nil %>
          <a class='nav-button' id='prev' href="/lessons/<%= @lesson.prev.id %>">Previous</a>

      <% end %>
      </div>

      <% if @lesson.next != nil %>
        <a class='nav-button' id='next' href="/lessons/<%= @lesson.next.id %>">Next</a>

      <% end %>
    </div>
  </div>
</div>
