<div class = "container-fluid">
  <h1><%= @lesson.name %></h1>


  <div class = "row">
    <h3>Lesson Directions</h3>
    <p><%= @lesson.name %></p>
  </div>
  <a href='/lessons/<%= @lesson.id %>/edit'>Edit</a>Edit Lesson</a>

  <div id="footer">
      <% if @lesson.prev != nil %>
        <p><a href="/lessons/<%= @lesson.prev.id %>">Previous</a></p>
      <% end %>
      <% if @lesson.next != nil %>
        <p><a href="/lessons/<%= @lesson.next.id %>">Next</a></p>
      <% end %>
    </div>
</div>
