<h1><%= @lesson.name %></h1>

<div class = "row">
  <h3>Lesson Directions</h3>
  <p><%= @lesson.description %>
</div>

<a href='/lessons/<%= @lesson.id %>/edit' class='btn btn-primary'>Edit</a>


<div id="footer" class = 'navbar-fixed-bottom'>
    <div class = 'col-xs-sm-12'>
    <div id = 'footer-button-block'>
      <% if @lesson.prev != nil %>
          <a class='footer-button' id='prev' href="/lessons/<%= @lesson.prev.id %>">Previous</a>
      <% end %>

      <% if @lesson.next != nil %>
        <a class='footer-button' id='next' href="/lessons/<%= @lesson.next.id %>">Next</a>
      <% end %>
    </div>
  </div>
</div>

