<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <title>EpicRedo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="external_container">
  <div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Learn How To Program</a>
      </div>
      <div class="collapse navbar-collapse right-padding">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Lessons <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/lessons/">View All</a></li>
              <li><a href="/lessons/new">Create</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sections <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/sections/">View All</a></li>
              <li><a href="/sections/new">Create</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="page-header">
    <div class="jumbotron col-xs-12">
      <div class = 'col-xs-9 top-margin'>
        <h1>Learn How To Program</h1>
      </div>
      <div class = 'col-xs-3 circle' >
        <div class = 'center'>
          <%= image_tag "brains.svg" %>
        </div>
      </div>
    </div>
  </div>

  <div class = 'container-fluid'>
    <div class ='row'>
      <%= yield %>
      <% if flash[:notice] == "Your lesson has been created."%>
        <div class="alert alert-success" role="alert">
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:notice] == "Your lesson has been updated." %>
        <div class="alert alert-success" role="alert">
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:notice] == "Your lesson has been deleted." %>
        <div class="alert alert-success" role="alert">
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:notice] == "Your section has been created." %>
        <div class="alert alert-success" role="alert">
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:notice] == "Your section has been updated." %>
        <div class="alert alert-success" role="alert">
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:notice] == "Your section has been deleted." %>
        <div class="alert alert-success" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>
    </div>
  </div>
  </body>
</html>
